* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

#top {
    background-color: white;
    width: 100%;
    height: 120px;
    margin: 0 auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#logo img {
    display: block;
    margin: 0 auto;
}

#top h1 {
    display: inline;
    float: right;
}

#navWrapper {
    background-color: lightgray;
    width: 960px;
    height: 64px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

#home {
    display: inline-block;
    height: 58px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid grey;
    line-height: 60px;
    text-align: center;
    background-color: white;
}

#home:hover {
    background-color: lightcoral;
    width: 110px;
    height: 65px;
}

#about {
    display: inline-block;
    height: 58px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid grey;
    line-height: 60px;
    text-align: center;
    background-color: white;
}

#about:hover {
    background-color: lightcoral;
    width: 110px;
    height: 65px;
}

#contact {
    display: inline-block;
    height: 58px;
    width: 110px;
    border-radius: 10px;
    line-height: 60px;
    text-align: center;
    border: 2px solid grey;
    background-color: white;
}

#contact:hover {
    background-color: lightcoral;
    width: 110px;
    height: 65px;
}

.borderClass {
    display: inline-block;
    width: 3px;
    height: 50;
    padding-top: 5px;
    background-color: darkslategray;
    background-color: black;
}

.contentWrapper {
    background-color: white;
    width: 960px;
    height: 420px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-family: Arial, Times, sans-serif;
    font-size: 30px;
}

.contentWrapper hr {
    width: 90%;
    margin: 0 auto;
}

.contentWrapper h1 {
    font-family: sans-serif;
    font-size: 45px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 13px;
    
}

.sub {
    font-family: sans-serif;
    font-size: 15px;
    color: lightcoral;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

.contentArticle {
    margin: 20px;
    font-family: serif;
    font-size: 20;
    text-align: justify;
    text-justify: inter-word;
    
}

.contentArticle p {
    text-indent: 40px;
}

.imageFloatLeft {
    float: left;
    margin-right: 10px;
}

.clearBoth {
    clear: both;
}

#height{
    height: 5px;
}
.subFooter {
    font-family: sans-serif;
    font-size: 15px;
    color: lightcoral;
    margin-top: 20px;
    padding-top: 10px;
}

.readMore {
    background-color: #E8B6B5;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.contentFooter {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 15px;
    color: lightcoral;
}





